# Based on https://github.com/felixduvallet/ros-travis-integration
#
# vim:set ts=2 sw=2 et:
dist: trusty
sudo: required
language: generic
compiler:
  - gcc
cache:
  - apt

env:
  global:
    #- ROS_DISTRO=jade
    - ROS_CI_DESKTOP="$(lsb_release -cs)"
    - CI_SOURCE_PATH=$(pwd)
    - ROSINSTALL_FILE=$CI_SOURCE_PATH/dependencies.rosinstall
    - ROS_PARALLEL_JOBS='-j8 -l6'

  matrix:
    - ROS_DISTRO=indigo
    - ROS_DISTRO=jade

before_install:
  - sudo sh -c "echo \"deb http://packages.ros.org/ros/ubuntu $ROS_CI_DESKTOP main\" > /etc/apt/sources.list.d/ros-latest.list"
  #- sudo sh -c "echo \"deb http://packages.ros.org/ros-shadow-fixed/ubuntu $ROS_CI_DESKTOP main\" > /etc/apt/sources.list.d/ros-latest.list"
  - wget http://packages.ros.org/ros.key -O - | sudo apt-key add -
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y python-catkin-pkg python-rosdep python-wstool ros-$ROS_DISTRO-catkin python-catkin-tools
  - source /opt/ros/$ROS_DISTRO/setup.bash
  # Prepare rosdep
  - sudo rosdep init
  - rosdep update

install:
  # Create catkin workspace
  - mkdir -p ~/catkin_ws
  - cd ~/catkin_ws
  - catkin config --init --mkdirs
  # Pull source depends
  - cd src
  - wstool init
  - if [[ -f $ROSINSTALL_FILE ]]; then wstool merge $ROSINSTALL_FILE; fi
  - wstool up
  # Link the repo we are testing to the new workspace
  - ln -s $CI_SOURCE_PATH .
  # Install dependencies using rosdep
  - cd ~/catkin_ws
  - rosdep install -q -y --from-paths src --ignore-src --rosdistro $ROS_DISTRO

before_script:
  - source /opt/ros/$ROS_DISTRO/setup.bash

script:
  - cd ~/catkin_ws
  - catkin config --install
  - catkin build --no-status --summary
  - source devel/setup.bash
  - catkin run_tests --no-status -p1 -i --summary
  #- catkin_test_results --all ~/catkin_ws/build

after_failure:
  - find ~/catkin_ws/build -path '*/test_results/*' -type f -exec echo "==== {} ====" \; -exec cat {} \;

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b856f174ff9736ad23ec
    on_success: change
    on_failure: always
    on_start: false
