<launch>
	<!-- vim: ft=roslaunch -->
	<!-- example launch script for PX4 teleop -->

	<arg name="fcu_url" default="serial:///dev/ttyACM0:57600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="50" />

	<node pkg="mavros" type="mavros_node" name="mavros" required="true" clear_params="true" output="screen">
		<param name="fcu_url" value="$(arg fcu_url)" />
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="$(arg tgt_system)" />
		<param name="target_component_id" value="$(arg tgt_component)" />

		<!-- px4 blacklist -->
		<rosparam command="load" file="$(find mavros)/launch/px4_blacklist.yaml" />

		<!-- enable heartbeat send and reduce timeout -->
		<param name="conn_heartbeat" value="5.0" />
		<param name="conn_timeout" value="10.0" />
		<!-- enable mavlink autostart on USB port -->
		<param name="startup_px4_usb_quirk" value="true" />
		
		<!-- joystick axis parameters -->
		
		<!-- joystick axis map -->
		<param name="~axes_map/roll" value="3" />
		<param name="~axes_map/pitch" value="2" />
		<param name="~axes_map/yaw" value="0" />
		<param name="~axes_map/throttle" value="1" />
		
		<!-- joystick axis scale -->
		<param name="~axes_scale/roll" value="-1.0" />
		<param name="~axes_scale/pitch" value="1.0" />
		<param name="~axes_scale/yaw" value="-1.0" />
		<param name="~axes_scale/throttle" value="1.0" />
		
	</node>
	
	<node pkg="joy" type="joy_node" name="joy" required="true">
		<param name="~/autorepeat_rate" value="50" />
	</node>	
</launch>