<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- Based on mavros/node.launch -->
	<!-- Launch script for PX4Flow -->

	<arg name="fcu_url" default="serial:///dev/ttyACM0:921600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="81" />
	<arg name="tgt_component" default="50" />

	<node pkg="mavros" type="mavros_node" name="px4flow" required="true" clear_params="true" output="screen">
		<param name="fcu_url" value="$(arg fcu_url)" />
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="$(arg tgt_system)" />
		<param name="target_component_id" value="$(arg tgt_component)" />

		<!-- remap mavlink bridge topics -->
		<remap from="/mavlink/to" to="/px4flow/mavlink_to" />
		<remap from="/mavlink/from" to="/px4flow/mavlink_from" />

		<!-- load blacklist, config -->
		<rosparam command="load" file="$(find mavros_extras)/launch/px4flow_pluginlists.yaml" />
		<rosparam command="load" file="$(find mavros_extras)/launch/px4flow_config.yaml" />
	</node>
</launch>
